[Unit]
Description=Vérifie les alertes CrowdSec toutes les 30 secondes

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
