# Genere par Ansible depuis le coffre Vault - ne pas editer a la main
# (fichier lu par des scripts shell : valeurs protegees avec le filtre quote)
NTFY_TOPIC={{ ntfy_topic | quote }}
ADGUARD_AUTH={{ (adguard_user ~ ':' ~ adguard_password) | quote }}
