# Genere par Ansible depuis le coffre Vault - ne pas editer a la main
# (fichier lu par des scripts shell : valeurs protegees avec le filtre quote)
NTFY_SERVEUR={{ secrets_ntfy_serveur | quote }}
NTFY_TOPIC={{ ntfy_topic | quote }}
ADGUARD_AUTH={{ (secrets_adguard_user ~ ':' ~ secrets_adguard_password) | quote }}
