ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{ID_VENDOR}!="", TAG+="systemd", ENV{SYSTEMD_WANTS}+="alerte-usb@$env{ID_VENDOR}_$env{ID_MODEL}.service"
